# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Labirynt\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../:\studia\Java Wszystko\Labirynt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
